$background-color-light: #fff;
$foreground-color-light: #000;
$button-background-color-light: #f0f0f0;
$background-color-dark: #000;
$foreground-color-dark: #fff;
$button-background-color-dark: #2d2d2d;
