* {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased !important;
}

a,
button,
.btn {
    background-color: transparent;
}

input {
    user-select: initial;

    &::-ms-clear {
        display: none;
    }

    &:invalid {
        box-shadow: none;
    }

    &[type="number"] {
        -webkit-appearance: textfield;
        appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: textfield;
    }
}
