@import './../../styles/constants.scss';

[data-component="OfflineMessage"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        margin: 15vw;
    }

    .message {
        text-align: center;
    }

    .save-articles-button {
        font-size: 13px;
        font-weight: 500;
        border-radius: 10px;
        padding: 12px 25px;
        margin-top: 50px;
    }
}

[data-theme="light"] {
    [data-component="OfflineMessage"] {
        .save-articles-button {
            background-color: $button-background-color-light;
            color: $accent-color;
        }
    }
}

[data-theme="dark"] {
    [data-component="OfflineMessage"] {
        .icon {
            filter: invert(1);
        }

        .save-articles-button {
            background-color: $button-background-color-dark;
            color: $accent-color;
        }
    }
}
