[data-component="Page_Articles"] {
    width: 100%;
    overflow: hidden;
    position: relative;

    .header {
        width: 100%;
        margin-top: env(safe-area-inset-top);
        position: absolute;
        z-index: 9;

        .aligned-left {
            float: left;
        }

        .aligned-right {
            float: right;
        }

        .button {
            padding: 10px;

            .icon {
                width: 25px;
            }

            &.back {
                padding-left: 5px;
            }
        }
    }
}
