@import './../../styles/constants.scss';

$padding: 12px;

[data-component="Article"] {
    max-width: 100%;
    overflow: hidden;

    [data-component="Header"] {
        width: 100%;
        float: left;
        position: relative;

        [data-component="HeaderImage"] {
            width: 100%;
            height: 300px;
            background-position: center;
            background-size: cover;
            filter: brightness(0.5);
        }

        .position-helper {
            padding: $padding;
            position: absolute;
            bottom: 0;
        }

        .source {
            width: auto;
            color: white;
            background-color: $accent-color;
            font-size: 12px;
            font-weight: 100;
            padding: 3px 5px;
            margin-bottom: 5px;
            float: left;
        }

        .title {
            width: 100%;
            font-size: 20px;
            font-weight: 400;
            line-height: 120%;
            float: left;
        }

        .date {
            width: 100%;
            color: $accent-color;
            font-size: 12px;
            font-weight: 500;
            margin-top: 6px;
            float: left;
        }

        &.no-image {
            padding: $padding $padding 0 $padding;
            margin-top: env(safe-area-inset-top);

            .source {
                margin: 35px 0 10px 0;
            }
        }
    }

    [data-component="Text"] {
        width: 100%;
        float: left;
        padding: $padding;

        .paragraph {
            line-height: 150%;
            letter-spacing: 0.2px;
            padding-bottom: 20px;

            &:last-of-type {
                padding-bottom: 0;
            }
        }

        &.no-image {
            .title {
                color: $accent-color;
            }

            .date {
                color: $foreground-color-light;
            }
        }
    }

    [data-component="Gallery"] {
        width: 100%;
        float: left;

        [data-component="GalleryItem"] {
            width: 100%;
            margin-top: 10px;

            .image {
                width: 100%;
            }

            .description {
                font-size: 12px;
                padding: 5px $padding;
                position: relative;
                top: -2px;
            }
        }
    }

    [data-component="Footer"] {
        width: 100%;
        font-size: 12px;
        text-align: center;
        padding: 40px;
        float: left;

        .icon {
            width: 100%;
            display: block;
            padding: 10vw;
        }

        .source-button {
            font-size: 13px;
            font-weight: 500;
            text-decoration: none;
            border-radius: 10px;
            padding: 12px 25px;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
}

[data-theme="light"] {
    [data-component="Article"] {
        [data-component="Header"] {
            .title {
                color: $foreground-color-dark;
            }

            &.no-image {
                .title {
                    color: $accent-color;
                }

                .date {
                    color: $foreground-color-light;
                }
            }
        }

        [data-component="Gallery"] {
            [data-component="GalleryItem"] {
                .description {
                    background-color: $button-background-color-light;
                }
            }
        }

        [data-component="Footer"] {
            .icon {
                &.inverted {
                    filter: invert(100%) grayscale(100%);
                }
            }

            .source-button {
                background-color: $button-background-color-light;
                color: $accent-color;
            }
        }
    }
}

[data-theme="dark"] {
    [data-component="Article"] {
        [data-component="Header"] {
            .title {
                color: $foreground-color-dark;
            }

            &.no-image {
                .title {
                    color: $accent-color;
                }

                .date {
                    color: $foreground-color-dark;
                }
            }
        }

        [data-component="Gallery"] {
            [data-component="GalleryItem"] {
                .description {
                    background-color: $button-background-color-dark;
                }
            }
        }

        [data-component="Footer"] {
            .icon {
                &.inverted {
                    filter: grayscale(100%);
                }

                &:not(.inverted) {
                    filter: invert(100%) grayscale(100%);
                }
            }

            .source-button {
                background-color: $button-background-color-dark;
                color: $accent-color;
            }
        }
    }
}
