@import 'css-reset-and-normalize-sass/scss/flavored-reset-and-normalize';
@import './styles/reset';

$background-color: #fff;

body {
    max-width: 800px;
    height: 100vh;
    background-color: $background-color;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0 auto;
}
