@import './../../styles/constants';

[data-component="Layout_Main"] {
    padding: 15px;
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    & > header {
        display: flex;
        align-items: center;

        .back-button {
            margin-right: 10px;

            img {
                width: 22px;
            }
        }

        .title {
            font-size: 30px;
            font-weight: 700;
            display: block;
            position: relative;
            top: -2px;
        }

        .actions {
            margin-left: auto;

            .action {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                float: left;
                padding: 8px;
                margin-left: 10px;
            }
        }
    }
}

[data-theme="light"] {
    [data-component="Layout_Main"] {
        & > header {
            .actions {
                .action {
                    background-color: $button-background-color-light;
                }
            }
        }
    }
}

[data-theme="dark"] {
    [data-component="Layout_Main"] {
        & > header {
            .actions {
                .action {
                    background-color: $button-background-color-dark;

                    img {
                        filter: invert(1)
                    }
                }
            }
        }
    }
}
