[data-component="Page_Home"] {
    .date {
        color: gray;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 5px;
        position: relative;
        top: calc(env(safe-area-inset-top) + 15px);
        left: calc(env(safe-area-inset-left) + 12px);
        display: block;
    }

    .headline {
        padding-top: 0 !important;
    }
}
