[data-component="Page_Home"] {
    padding: 35px 15px 15px 15px;

    .date {
        color: gray;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 5px;
        position: relative;
        top: env(safe-area-inset-top);
        left: env(safe-area-inset-left);
        display: block;
    }

    .headline {
        padding-top: 0 !important;
    }
}
