[data-component="Page_Home"] {
    overflow-x: hidden;

    & > .date {
        color: gray;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 5px;
        position: relative;
        top: calc(env(safe-area-inset-top) + 15px);
        left: calc(env(safe-area-inset-left) + 15px);
        display: block;
    }

    .headline {
        padding-top: 0 !important;
    }

    .latest-articles {
        width: calc(100% + 30px);
        height: 40vh;
        margin-top: 25px;
        position: relative;
        left: -15px;
    }
}
