[data-component="Layout_Main"] {
    h1,
    h2,
    h3 {
        color: $accent-color;
    }

    & > div > .headline {
        color: black;
        font-size: 30px;
        font-weight: 700;
        display: block;
    }
}
