@import './../../styles/constants.scss';

[data-component="Page_FeedOptions"] {
    padding: 12px 0;

    .feeds {
        margin-top: 20px;
        float: left;

        .group {
            width: 100%;
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 15px 20px 10px 20px;
            float: left;

            header {
                width: 100%;
                float: left;

                .headline {
                    font-size: 13px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    float: left;
                }

                .actions {
                    float: right;
                    position: relative;
                    top: -7px;
                    right: -10px;

                    button {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        padding: 6px;
                        margin-left: 10px;
                    }
                }
            }

            .list {
                width: 100%;
                float: left;

                .feed {
                    width: 100%;
                    float: left;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .name {
                        font-size: 14px;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}

[data-theme="light"] {
    [data-component="Page_FeedOptions"] {
        .feeds {
            .group {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

                header {
                    .headline {
                        color: gray;
                    }

                    .actions {
                        button {
                            background-color: $button-background-color-light;
                        }
                    }
                }
            }
        }
    }
}

[data-theme="dark"] {
    [data-component="Page_FeedOptions"] {
        .feeds {
            .group {
                border: 2px dotted $button-background-color-dark;

                header {
                    .headline {
                        color: gray;
                    }

                    .actions {
                        button {
                            background-color: $button-background-color-dark;

                            img {
                                filter: invert(100%)
                            }
                        }
                    }
                }
            }
        }
    }
}
