@import './../../styles/constants';

[data-component="Page_SavedArticles"] {
    padding-top: 15px;

    .article {
        display: flex;
        padding: 15px 0;

        border-bottom: 1px solid $button-background-color-light;

        &:last-of-type {
            border-bottom: none !important;
        }

        .image {
            width: 30vw;
            height: 20vw;
            object-fit: contain;
            padding-left: 10px;
        }
    }
}
