[data-component="LoadingOverlay"] {
    &.is-unloading {
        pointer-events: none;

        [data-component="FullScreenMessage"] {
            opacity: 0;
            transition: opacity 2s;

            .content {
                transform: scale(0);
                transform-origin: center;
            }
        }
    }

    .content {
        transition: transform 250ms;

        .progress-indicator {
            width: 60px;
            height: 60px;
            animation: animation 2s linear infinite;

            @keyframes animation {
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .message {
            text-align: center;
            margin-top: 10px;
        }
    }
}
