[data-component="FeedSelector"] {
    padding: 12px 0;

    .date {
        color: gray;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 5px;
        display: block;
    }

    .feeds {
        margin-top: 20px;

        .group {
            border-radius: 20px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 15px 20px 10px 20px;

            & > button {
                font-size: 16px;
                font-weight: 600;
            }

            .headline {
                color: gray;
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            .grid {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0 -6px;

                .feed {
                    width: calc(100% / 3 - 5px);
                    display: flex;
                    margin-bottom: 10px;
                    padding: 6px;

                    button {
                        width: 100%;
                        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        overflow: hidden;

                        .icon {
                            width: 70%;
                        }

                        .name {
                            color: black;
                            font-size: 12px;
                            line-height: 120%;
                            margin-top: 10px;
                            padding: 0 5px;
                        }
                    }
                }

                &::after {
                    content: '';
                    flex: auto;
                }
            }

            .all-feeds-button {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.06);
                color: $accent-color;
                font-size: 13px;
                font-weight: 500;
                border-radius: 10px;
                padding: 12px 25px;
                margin: 10px 0;
            }
        }
    }
}
